.naya{
    background: rgb(247, 245, 245);
    text-align: center;
    height: 200px;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
.call12{
    color: coral;
    text-align: end;
}

.carousel-inner 
{
    width: auto;
    height: 600px;
}  

.row{
    margin-top: 8px;
}

.naya2{
    height: 200px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.9;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
  .fa-instagram {
    background: #125688;
    color: white;
}
  
.naya3{
    height: 100px;
    background: rgb(247, 245, 245);
}

footer {
    background: rgb(102, 102, 102);
    height: 180px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.header {
    background-color: #F5F5F5;
    color: coral;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}

