.naya{
    background: coral;
text-align: center;
height: 200px;
}

.carousel-inner {
width: auto;
height: 600px;
}  

.row{
    margin-top: 8px;
}
.naya2{
    height: 200px;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.9;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
.naya3{
    height: 100px;
}

footer {
    background: coral;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 20px;
}
.h1-title{
    align: center;
    color: rgb(15, 100, 156);
}
.logo-img{
}
